beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==41.0.7
cssselect==1.2.0
DateTime==5.4
idna==3.6
lxml==5.1.0
pdfminer.six==20231228
pdfquery==0.4.3
pycparser==2.21
pyquery==2.0.0
pytz==2023.3.post1
requests==2.31.0
roman==4.1
soupsieve==2.5
urllib3==2.1.0
zope.interface==6.1
